.ftr-cont {
  position: sticky;
  top: 2rem;
  min-width: 15rem;
  max-width: 15rem;
  background: var(--inner-background);
}
fieldset {
  border: none;
  border-top: 1px solid var(--grey-light);
}

.card {
  width: auto;
  min-width: "";
  max-width: "";
}

.product-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 3rem;
}
.product-container.wishlist-item {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media (max-width: 1300px) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
  }
  .product-container.wishlist-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .product-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
  }
  .product-container.wishlist-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .product-container.wishlist-item {
    grid-template-columns: 1fr 1fr;
  }
}
