.filter-container {
  position: sticky;
  top: 6rem;
  min-width: 15rem;
  max-width: 15rem;
  background: var(--inner-background);
}

fieldset {
  border: none;
  border-top: 1px solid var(--grey-light);
}

.card {
  /* width: auto; */
  width: 100%;
}

.product-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1.5rem;
}
.product-container.wishlist-item {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.bottom-sheet {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100vw;
  background-color: var(--inner-background);
  border-top: 1px solid var(--grey-light);
}

@media (max-width: 1300px) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product-container.wishlist-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .product-container {
    grid-template-columns: 1fr 1fr;
  }
  .product-container.wishlist-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .product-container.wishlist-item {
    grid-template-columns: 1fr 1fr;
  }
}
