.card-vertical > img {
  height: 100%;
}
.price-container {
  position: sticky;
  top: 6rem;
  margin-left: 0.75rem;
  min-width: 15rem;
}
.price-container span {
  text-align: center;
}
.items-list {
  background: var(--inner-background);
}
@media (max-width: 600px) {
  .price-container {
    position: relative;
    top: auto;
    margin: 0.75rem 0;
    min-width: 15rem;
  }
}
