nav {
  position: sticky;
  z-index: 9999;
  top: 0px;
  left: 0;
  height: 4.5rem;
  background: var(--inner-background);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 15%);
}
.nav-center > li > .btn-link:hover {
  background: none;
}
